## Preprocessing

In [18]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler , OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [19]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df = application_df.drop(['EIN','NAME'],axis=1)
application_df.columns

Index(['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS',
       'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [20]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [21]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE

app_df=application_df['APPLICATION_TYPE'].value_counts()

print(app_df)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [22]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE

application_types_to_replace=[]

for  app_name,app_value in app_df.items():
      if app_value < 500:
            application_types_to_replace.append(app_name)
        
# Replace in dataframe

for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful

application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [23]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE

df_class = application_df['CLASSIFICATION'].value_counts()
print(df_class)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [24]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE

count= application_df['CLASSIFICATION'].value_counts()
df_class=count[count > 1]

df_class

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [25]:
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [26]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE

classifications_to_replace=[]

for  name,value in count.items():
      if value < 1500:
            classifications_to_replace.append(name)
        
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [27]:
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [28]:
application_df.shape

(34299, 10)

In [29]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE

application_df = pd.get_dummies(application_df['CLASSIFICATION'])
application_df = pd.get_dummies(application_df['APPLICATION_TYPE'])

application_df.head()

KeyError: 'APPLICATION_TYPE'

In [30]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE

y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

KeyError: 'IS_SUCCESSFUL'

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
X_train.shape

## Compile, Train and Evaluate the Model

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

input_features = X_train.shape[1]

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE

nn.add(tf.keras.layers.Dense(units=80, activation='relu', input_dim=input_features))

# Second hidden layer
#  YOUR CODE GOES HERE

nn.add(tf.keras.layers.Dense(units=30, activation='relu'))

# Output layer
#  YOUR CODE GOES HERE

nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5981 (23.36 KB)
Trainable params: 5981 (23.36 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [16]:
# Compile the model
#  YOUR CODE GOES HERE

nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [17]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 4s 3ms/step - loss: 66878.0156 - accuracy: 0.4845
Epoch 2/50
804/804 [==============================] - 2s 3ms/step - loss: 73623.6719 - accuracy: 0.4972
Epoch 3/50
804/804 [==============================] - 2s 3ms/step - loss: 29955.7988 - accuracy: 0.5086
Epoch 4/50
804/804 [==============================] - 2s 3ms/step - loss: 21643.5820 - accuracy: 0.4970
Epoch 5/50
804/804 [==============================] - 2s 3ms/step - loss: 15843.1748 - accuracy: 0.4866
Epoch 6/50
804/804 [==============================] - 2s 3ms/step - loss: 44788.3047 - accuracy: 0.5016
Epoch 7/50
804/804 [==============================] - 2s 3ms/step - loss: 21935.3066 - accuracy: 0.4979
Epoch 8/50
804/804 [==============================] - 2s 3ms/step - loss: 29847.7656 - accuracy: 0.4952
Epoch 9/50
804/804 [==============================] - 2s 3ms/step - loss: 19745.8086 - accuracy: 0.4992
Epoch 10/50
804/804 [==============================] - 2s 3ms/step - loss: 28718.8613 - accuracy: 0.5059
Epoch 11/50
804/804 [==============================] - 2s 3ms/step - loss: 19160.2832 - accuracy: 0.4946
Epoch 12/50
804/804 [==============================] - 2s 3ms/step - loss: 12277.1514 - accuracy: 0.5211
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 15087.6621 - accuracy: 0.5055
Epoch 14/50
804/804 [==============================] - 2s 3ms/step - loss: 5316.3062 - accuracy: 0.5221
Epoch 15/50
804/804 [==============================] - 3s 3ms/step - loss: 10063.5361 - accuracy: 0.5039
Epoch 16/50
804/804 [==============================] - 3s 3ms/step - loss: 4416.7070 - accuracy: 0.5283
Epoch 17/50
804/804 [==============================] - 3s 3ms/step - loss: 5090.0713 - accuracy: 0.5372
Epoch 18/50
804/804 [==============================] - 3s 3ms/step - loss: 5559.0415 - accuracy: 0.5357
Epoch 19/50
804/804 [==============================] - 3s 3ms/step - loss: 3071.9243 - accuracy: 0.5307
Epoch 20/50
804/804 [==============================] - 3s 3ms/step - loss: 785.5022 - accuracy: 0.5151
Epoch 21/50
804/804 [==============================] - 2s 3ms/step - loss: 352.1967 - accuracy: 0.5190
Epoch 22/50
804/804 [==============================] - 2s 3ms/step - loss: 320.3156 - accuracy: 0.5089
Epoch 23/50
804/804 [==============================] - 2s 3ms/step - loss: 677.1383 - accuracy: 0.5147
Epoch 24/50
804/804 [==============================] - 2s 3ms/step - loss: 107.9955 - accuracy: 0.5146
Epoch 25/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6823 - accuracy: 0.5383
Epoch 26/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6661 - accuracy: 0.6406
Epoch 27/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6594 - accuracy: 0.6823
Epoch 28/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6529 - accuracy: 0.6810
Epoch 29/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6480 - accuracy: 0.6799
Epoch 30/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6458 - accuracy: 0.6761
Epoch 31/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6930 - accuracy: 0.6758
Epoch 32/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6374 - accuracy: 0.6788
Epoch 33/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6423 - accuracy: 0.6733
Epoch 34/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6335 - accuracy: 0.6766
Epoch 35/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6390 - accuracy: 0.6703
Epoch 36/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6285 - accuracy: 0.6761
Epoch 37/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6268 - accuracy: 0.6772
Epoch 38/50
804/804 [==============================] - 3s 3ms/step - loss: 0.9157 - accuracy: 0.5341
Epoch 39/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 40/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 41/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 42/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 43/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 44/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 45/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 46/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 47/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 48/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 49/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 50/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6911 - accuracy: 0.5324

In [21]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 1.0198 - accuracy: 0.5324 - 604ms/epoch - 2ms/step
Loss: 1.019839882850647, Accuracy: 0.5323615074157715

In [22]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE

nn.save("AlphabetSoupCharity.h5")

C:\Users\priya\anaconda3\envs\dev\lib\site-packages\keras\src\engine\training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(